<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82642367-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82642367-1');
</script>
<title>Symmart Pattern Editor</title>

<script type="text/javascript" src="/mod_history.js"></script>


<script type="text/javascript" src="/mod_colors.js"></script>

<script type="text/javascript" src="/mod_send_image_on_server.js"></script>
<script type="text/javascript" src="/mod_half.js"></script>
<script type="text/javascript" src="/mod_median.js"></script>

<script type="text/javascript" src="/mod_random.js"></script>
<script type="text/javascript" src="/mod_md5.js"></script>
<script type="text/javascript" src="/mod_logging.js"></script>
<script type="text/javascript" src="/mod_mright.js"></script>
<script type="text/javascript" src="/mod_do_two.js"></script>
<script type="text/javascript" src="/mod_mdown.js"></script>
<script type="text/javascript" src="/mod_take_off.js"></script>
<script type="text/javascript" src="/mod_mint_nft_solana.js"></script>
<script type="text/javascript" src="/mod_mint_nft_solana_get_metadata.js"></script>
<script type="text/javascript" src="/mod_mint_nft_solana_create_metadata.js"></script>
<script type="text/javascript" src="/mod_mint_nft_solana_mainnet.js"></script>
<script type="text/javascript" src="/mod_upload_image_to_arweave.js"></script>
<script type="text/javascript" src="/mod_local_store.js"></script>
<script type="text/javascript" src="/mod_paint_over.js"></script>
<script type="text/javascript" src="/mod_super_paint_over.js"></script>
<script type="text/javascript" src="/mod_vortex.js"></script>
<script type="text/javascript" src="/mod_plus.js"></script>
<script type="text/javascript" src="/mod_get_solana_balance.js"></script>
<script type="text/javascript" src="/mod_crypto.js"></script>
<script type="text/javascript" src="/mod_border.js"></script>
<script type="text/javascript" src="/mod_minus.js"></script>
<script type="text/javascript" src="/mod_inverse.js"></script>
<script type="text/javascript" src="/mod_save_script.js"></script>
<script type="text/javascript" src="/mod_clean.js"></script>
<script type="text/javascript" src="/mod_acombo.js"></script>
<script type="text/javascript" src="/mod_define_cluster.js"></script>
<script type="text/javascript" src="/mod_save_on_server.js"></script>
<script type="text/javascript" src="/mod_lighter.js"></script>

<script type="text/javascript" src="/mod_darker.js"></script>
<script type="text/javascript" src="/mod_hider.js"></script>
<script type="text/javascript" src="/mod_axes.js"></script>

<script type="text/javascript" src="/mod_axesp.js"></script>


<script type="text/javascript" src="/mod_rio.js"></script>
<script type="text/javascript" src="/mod_breath_of_chaos.js"></script>
<script type="text/javascript" src="/mod_black_white.js"></script>
<script type="text/javascript" src="/mod_xcombo.js"></script>


<script type="text/javascript" src="/mod_pixels_pro.js"></script>
<script type="text/javascript" src="/mod_labirint.js"></script>
<script type="text/javascript" src="/mod_map.js"></script>
<script type="text/javascript" src="/mod_filter.js"></script>



<script type="text/javascript" src="/mod_print_load.js"></script>
<script type="text/javascript" src="/mod_drag_and_drop.js"></script>






<!---
<script type="text/javascript" src="/client0.js"></script><script type="text/javascript" src="/mod_palette.js"></script>
---->
<script type="text/javascript" src="/mod_help.js"></script>
<script type="text/javascript" src="/mod_rgb.js"></script>
<script type="text/javascript" src="/mod_select.js"></script>
<script type="text/javascript" src="/palette.js"></script>

<script type="text/javascript" src="/mod_palette_paste.js"></script>
<script type="text/javascript" src="/mod_rotate_any.js"></script>
<script type="text/javascript" src="/mod_xminus.js"></script>
<script type="text/javascript" src="/mod_min_colors.js"></script>
<script type="text/javascript" src="/mod_rotate.js"></script>
<script type="text/javascript" src="/mod_seed_fill.js"></script>
<script type="text/javascript" src="/mod_seed_fillx.js"></script>
<script type="text/javascript" src="/mod_seed_filly.js"></script>
<script type="text/javascript" src="/mod_combo.js"></script>
<script type="text/javascript" src="/mod_glue.js"></script>
<script type="text/javascript" src="/mod_x_combo.js"></script>
<script type="text/javascript" src="/mod_generate.js"></script>
<script type="text/javascript" src="/mod_crop.js"></script>
<script type="text/javascript" src="/mod_copy.js"></script>
<script type="text/javascript" src="/mod_plus_nm.js"></script>
<script type="text/javascript" src="/mod_pixels.js"></script>
<script type="text/javascript" src="/brainlock.js"></script>
<script type="text/javascript" src="/server.js"></script>
<script type="text/javascript" src="/mod_modal_window.js"></script>
<script type="text/javascript" src="/mod_execute_script.js"></script>
<script type="text/javascript" src="/mod_copy_paste.js"></script>
<script type="text/javascript" src="/mod_save.js"></script>
<script type="text/javascript" src="/mod_save_load_desktop.js"></script>
<script type="text/javascript" src="/mod_console.js"></script>
<script type="text/javascript" src="/client.js"></script>
<script type="text/javascript" src="/mod_restart.js"></script>
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<!--
<link rel="stylesheet" type="text/css" href="/stylesheets/css_reset.css" />
--->

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />